.TitlePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
}

.titlepagecontainer {
  width: 50%;
  height: 50%;
  color: aqua;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  border-radius: 5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px,
    rgba(17, 71, 88, 0.678) 0px 30px 60px -30px,
    rgba(8, 27, 80, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(43, 62, 62);
}

.loginform {
  position: absolute;
  width: 20rem;
  height: 25rem;
  display: grid;
  place-items: center;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px,
    rgba(17, 71, 88, 0.678) 0px 30px 60px -30px,
    rgba(8, 27, 80, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(61, 44, 20);
}

.loginform :focus-visible {
  background-position: left;
  /* backface-visibility: hidden; */
}
.Loginbutton button {
  width: 5rem;
  height: 2rem;
  color: aqua;
  background: transparent;
}

.loginform .Closebtn button {
  position: absolute;
  width: 100%;
  height: 5rem;
  border: 2px solid red;
  display: grid;
  place-items: center;
  top: 1em;
  left: 10em;
  font-size: x-large;
  width: 1.5rem;
  height: 1.5rem;
}

.Signupform {
  position: fixed;
  width: 20rem;
  height: 25rem;
  display: grid;
  place-content: center;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px,
    rgba(17, 71, 88, 0.678) 0px 30px 60px -30px,
    rgba(8, 27, 80, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(61, 44, 20);
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale3d(20degree);
}
.signupformimputs {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}
.Signupform .Closebtn button {
  position: absolute;
  width: 100%;
  height: 5rem;
  border: 2px solid red;
  display: grid;
  place-items: center;
  top: 1em;
  left: 10em;
  font-size: x-large;
  width: 1.5rem;
  height: 1.5rem;
}
.Loginbutton button {
  width: 5rem;
  height: 2rem;
  color: aqua;
  background: transparent;
}

.registrationbutton {
  /* position: sticky; */
  /* width: 100%; */
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* border: 2px solid red; */
}
.loginbutton,
.signupbutton {
  /* position: relative; */
  width: 5rem;
  height: 2rem;
  background-color: black;
  color: cyan;
  box-shadow: rgba(38, 143, 155, 0.25) 0px 50px 100px -20px,
    rgba(20, 135, 169, 0.678) 0px 30px 60px -30px,
    rgba(15, 116, 217, 0.35) 0px -2px 6px 0px inset;
}

.Sidebar {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1rem sold rgb(83, 142, 1);
}

.Sidebar .Navbar {
  margin: 0.5rem;
  display: grid;
  place-content: center;
}
.TitleLink,
.homeLink,
.addExpenseLink,
.profileLink,
.analyseLink,
.transactionLink {
  display: grid;
  place-items: center;
}

.Navbar .title-img,
.home-img,
.addExp-img,
.profile-img,
.analyse-img,
.transaction-img {
  width: 3rem;
  height: 3rem;
  border: 5px solid rgb(11, 24, 109);
  border-radius: 0 40% 40% 0;
  margin-top: 2rem;
}
.Navbar a {
  text-decoration: solid;
  color: black;
}

.HomePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.HomePage .Home-header {
  width: 70rem;
  height: 17rem;
  padding: 1rem;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  border: 2px solid black;
  background-color: aqua;
}

.Home-user-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 0.5rem; */
}

.home-userdeatils {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 18rem;
  /* margin-top: -1rem; */
  border-radius: 1rem;
  /* border: 2px solid red; */
}
.home-username {
  width: 80%;
  height: 60%;
  text-align: left;
  border-radius: 1rem;
  border: 2px solid black;
  padding: 2rem;
}
.home-remainingcash {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40%;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* overflow: scroll; */
  /* border: 2px solid black; */
}
.btn-1,
.btn-2 {
  font-size: large;
  overflow: hidden;
  width: 40%;
  height: 100%;
  border-radius: 1rem;
  border: 2px solid red;
}

.b1-p1,
.b2-p1 {
  margin: 0.5rem;
  text-align: left;
}

.b1-p2,
.b2-p2 {
  margin: 0.5rem;
  text-align: right;
}

.home-usermonthlylimittracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  margin-left: 8rem;
  margin: 20px;
  border-radius: 60%;
  padding: 20px;
  overflow: auto;
  border: 5px solid rgb(19, 65, 34);
}

.expensetracker {
  display: grid;
  place-items: center;
  text-align: center;
  padding: 20px;
  overflow: hidden;
}
.usernametrack {
  font-size: xx-large;
  display: grid;
  place-items: center;
  text-align: center;
  margin: 20px;
  /* border: 2px solid red; */
}

.avalablecash {
  font-size: large;
  font-style: italic;
  /* display: flex; */
  /* place-content: center; */
  /* text-align: center; */
  /* border: 2px solid rgb(26, 255, 0); */
}
.totalmonthlyexpense {
  font-size: large;
  font-style: italic;
}

.HomePage .Home-Recent-Activity {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  height: 50%;
  /* gap: 2rem; */
  /* margin: 1em; */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 2em;
  /* overflow: auto; */
  border-radius: 2rem;
  border: 2px solid black;
  background-color: aqua;
}
.Recnet-activity-header {
  width: 90%;
  text-align: left;
  border-radius: 1.5rem;
}
.display-activities {
  width: 90%;
  /* max-width: 1024px; */
  max-height: 15rem;
  border: 2px solid red;
  border-radius: 2rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.row-1,
.row-2,
.row-3,
.row-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0.2rem;
  padding: 0.7rem;
  gap: 1rem;
  width: 90%;
  height: 1.5rem;
  font-size: large;
  border-radius: 2rem;
  overflow: hidden;
  border: 2px solid rgb(0, 0, 0);
}
.col {
  width: 10rem;
  text-align: center;
}

.incrementActivity button {
  width: 3rem;
  height: 3rem;
  z-index: 2;
  border: 1px solid red;
  border-radius: 50%;
  font-size: larger;
  margin-top: 14rem;

  /* margin-top: 15rem; */
  z-index: 2;
  margin-right: -2rem;
  margin-left: 2rem;
  color: aqua;
  background-color: black;
}

/* css of ADD expense page */

.AddExpensePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: rgb(44, 104, 104);
}

.AddExpenseheader h2 {
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgb(106, 110, 119);
  border: 2px solid red;
  color: black;
}
.addexpenseform {
  width: 80%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  padding: 2rem;
  background-color: rgb(106, 110, 119);
  border: 2px solid black;
}

.addexpenseform input {
  width: 25rem;
  height: 2rem;
  border-radius: 2rem;
  color: black;
  background-color: rgb(44, 104, 104);
  border: 2px solid red;
}
.addexpenseform select {
  width: 25.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  color: black;
  background-color: rgb(44, 104, 104);
  border: 2px solid red;
}
.remarkinput textarea {
  text-align: left;
  height: 5rem;
  width: 40rem;
  margin-left: 7.3rem;
  margin-right: 20rem;
  border: 2px solid red;
  border-radius: 1.5rem;
  color: black;
  background-color: rgb(44, 104, 104);
}

.submitButton button {
  width: 5rem;
  height: 2rem;
  border: 2px solid red;
  border-radius: 2rem;
  color: black;
  background-color: rgb(44, 104, 104);
}

.newaddexpensebutton button {
  width: 3rem;
  height: 3rem;
  margin-left: 71rem;
  font-size: x-large;
  border-radius: 50%;
  color: black;
  background-color: rgb(44, 104, 104);
}

.ProfilePage {
  width: 100vw;
  height: 100vh;
  /* background-color: blue; */
}

.profilepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(44, 104, 104);
}

.profileheader h2 {
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgb(106, 110, 119);
  border: 2px solid red;
  color: black;
}

.adduserinfoform {
  width: 80%;
  height: 26rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  background-color: rgb(106, 110, 119);
  border: 2px solid black;
}

.formupperpart {
  width: 80%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
  gap: 4rem;
}

.userinputs {
  width: 60%;
  height: 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: auto;
  /* border: 2px solid black; */
}

.userinputs input {
  margin: 0.5em;
  width: 25rem;
  height: 2.5rem;
  border-radius: 2rem;
  color: black;
  background-color: rgb(44, 104, 104);
  border: 2px solid red;
}

.imageinput {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

.imageinput img {
  width: 12rem;
  height: 12rem;
  margin-top: -1rem;
  border: 2px solid red;
  border-radius: 1rem;
  color: black;
  z-index: 1;
  background-color: rgb(44, 104, 104);
}

.imageinput span {
  display: grid;
  place-items: center;
  width: 2rem;
  height: 2rem;
  z-index: 2;
  color: aqua;
  border: 2px solid red;
  border-radius: 50%;
  background-color: black;
}
/* 
.imageinput button :before :hover {
  opacity: 1;
}

.imageinput button:after :hover {
  opacity: 2;
} */
.AnalysePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.Analyseheader {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 2px solid red; */
}
.Analysecardlist {
  width: 100%;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list {
  width: 60%;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 5rem;
  /* border: 2px solid red; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
}

.Analysecards {
  /* gap: 5rem; */
  display: grid;
  place-content: center;
  width: 10rem;
  height: 10rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  /* border: 2px solid blue; */
}

.imageofcard img {
  width: 5rem;
  height: 5em;
}
.Analysebutton {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.Analysebutton button {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
  border: 2px solid blue;
  background-color: black;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: aqua;
}

.transactionContainer {
  margin: 2rem;
  height: 90%;
  border-radius: 15px;
}

.transactionHeading {
  /* padding: 0px; */
  /* height: 2rem; */
  display: flex;
  align-items: center;
}
.transactionHeading span {
  font-size: 2.3rem;
  max-width: 0px;
  margin-left: 1rem;
  padding: 0.5rem;
}

.transactionFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  margin: 0rem 1rem;
  border-radius: 2rem;
}

.transactionFilter ul {
  display: flex;
  list-style: none;
  padding: 0rem 1rem;
  gap: 2rem;
}

.transactionList {
  margin: 0.8rem 1.2rem;
  border-radius: 1rem;
  overflow-y: auto;
  max-height: 30rem;
}

.transactionRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.6rem;
  padding: 0.7rem;
  justify-content: space-between;
  gap: 1rem;
  /* width: 90%; */
  height: 1.5rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  text-align: center;
  overflow: auto;
  /* border: 2px solid rgb(0, 0, 0); */
}

.remark {
  width: 20rem;

  white-space: nowrap;
}

.transactionList {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.transactionList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.date {
  width: 20rem;
}
