.Sidebar {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1rem sold rgb(83, 142, 1);
}

.Sidebar .Navbar {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.homeLink,
.addExpenseLink,
.profileLink,
.analyseLink,
.transactionLink {
  display: grid;
  place-items: center;
}

.Navbar .home-img,
.addExp-img,
.profile-img,
.analyse-img,
.transaction-img {
  width: 3rem;
  height: 3rem;
  border: 5px solid rgb(11, 24, 109);
  border-radius: 0 40% 40% 0;
  margin-top: 2rem;
}
.Navbar a {
  text-decoration: solid;
  color: black;
}

.HomePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.HomePage .Home-header {
  width: 70rem;
  height: 17rem;
  padding: 1rem;
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  overflow: hidden;
  border: 2px solid black;
  background-color: aqua;
}

.Home-header-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* gap: 0.5rem; */
}

.leftheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 18rem;
  /* margin-top: -1rem; */
  border-radius: 1rem;
  /* border: 2px solid red; */
}
.upperofleft {
  width: 80%;
  height: 60%;
  text-align: left;
  border-radius: 1rem;
  border: 2px solid black;
  padding: 2rem;
}
.footerofleft {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40%;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* overflow: scroll; */
  /* border: 2px solid black; */
}
.btn-1,
.btn-2 {
  font-size: large;
  overflow: hidden;
  width: 40%;
  height: 100%;
  border-radius: 1rem;
  border: 2px solid red;
}

.b1-p1,
.b2-p1 {
  margin: 0.5rem;
  text-align: left;
}

.b1-p2,
.b2-p2 {
  margin: 0.5rem;
  text-align: right;
}

.rightheader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  margin-left: 8rem;
  border-radius: 60%;
  overflow: auto;
  border: 2px solid rgb(60, 0, 255);
}

.HomePage .Home-Recent-Activity {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50%;
  /* margin: 1em; */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  overflow: hidden;
  border-radius: 2rem;
  border: 2px solid black;
  background-color: aqua;
}
.Recnet-activity-header {
  width: 90%;
  text-align: left;
  border-radius: 1.5rem;
  /* border: 2px solid rgb(0, 0, 0); */
}
.display-activities {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: ; */
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 2rem;
  z-index: 1;
  /* border:0.2em solid red; */
}
.row-1,
.row-2,
.row-3,
.row-4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  padding: 0.7rem;
  justify-content: space-between;
  gap: 1rem;
  width: 90%;
  height: 1.5rem;
  font-size: large;
  border-radius: 2rem;
  overflow: auto;
  border: 2px solid rgb(0, 0, 0);
}

.col {
  width: 10rem;
  text-align: center;
  /* border: 2px solid black; */
}

.border {
  border: 2px solid black;
}

.incrementActivity .incrementActivityButton {
  width: 3rem;
  height: 3rem;
  z-index: 2;
  border: 1px solid red;
  border-radius: 50%;
  font-size: larger;
  margin-top: 14rem;
  margin-bottom: 1em;
  margin-left: -2rem;
  color: aqua;
  background-color: black;
}

/* css of ADD expense page */

.AddExpensePage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: rgb(44, 104, 104);
}

.AddExpenseheader h2 {
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgb(106, 110, 119);
  border: 2px solid red;
  color: black;
}
.addexpenseform {
  width: 80%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  padding: 2rem;
  background-color: rgb(106, 110, 119);
  border: 2px solid black;
}

.addexpenseform input {
  width: 25rem;
  height: 2rem;
  border-radius: 2rem;
  color: black;
  background-color: rgb(44, 104, 104);
  border: 2px solid red;
}
.addexpenseform select {
  width: 25.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  color: black;
  background-color: rgb(44, 104, 104);
  border: 2px solid red;
}
.remarkinput textarea {
  text-align: left;
  height: 5rem;
  width: 40rem;
  margin-left: 7.3rem;
  margin-right: 20rem;
  border: 2px solid red;
  border-radius: 1.5rem;
  color: black;
  background-color: rgb(44, 104, 104);
}

.submitButton button {
  width: 5rem;
  height: 2rem;
  border: 2px solid red;
  border-radius: 2rem;
  color: black;
  background-color: rgb(44, 104, 104);
}

.newaddexpensebutton button {
  width: 3rem;
  height: 3rem;
  margin-left: 71rem;
  font-size: x-large;
  border-radius: 50%;
  color: black;
  background-color: rgb(44, 104, 104);
}

.ProfilePage {
  width: 100vw;
  height: 100vh;
  /* background-color: blue; */
}

.profilepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  background-color: rgb(44, 104, 104);
}

.profileheader h2 {
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 2rem;
  background-color: rgb(106, 110, 119);
  border: 2px solid red;
  color: black;
}
.adduserinfoform {
  width: 80%;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* gap:8em; */
  padding: 2rem;
  background-color: rgb(106, 110, 119);
  border: 2px solid black;
}

.userinputs input {
  margin: 0.5em;
  width: 25.5rem;
  height: 2.5rem;
  border-radius: 2rem;
  color: black;
  background-color: rgb(44, 104, 104);
  border: 2px solid red;
}

.imageinput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageinput button {
  height: 2rem;
  width: 6rem;
  margin-left: 20rem;
  margin-top: 2rem;
}
.imageinput img {
  width: 11rem;
  height: 11rem;
  margin-left: 20rem;
  border: 2px solid red;
  border-radius: 1.5rem;
  color: black;
  background-color: rgb(44, 104, 104);
}

.submitButton button {
  width: 5rem;
  height: 2rem;
  margin-top: 2rem;
  border: 2px solid red;
  border-radius: 2rem;
  color: black;
  background-color: rgb(44, 104, 104);
}

.AnalysePage {
  width: 100vw;
  height: 100vh;
  background-color: chocolate;
}

.transactionContainer {
  margin: 2rem;
  height: 90%;
  border-radius: 15px;
}

.transactionHeading {
  /* padding: 0px; */
  /* height: 2rem; */
  display: flex;
  align-items: center;
}
.transactionHeading span {
  font-size: 2.3rem;
  max-width: 0px;
  margin-left: 1rem;
  padding: 0.5rem;
}

.transactionFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  margin: 0rem 1rem;
  border-radius: 2rem;
}

.transactionFilter ul {
  display: flex;
  list-style: none;
  padding: 0rem 1rem;
  gap: 2rem;
}

.transactionList {
  margin: 0.8rem 1.2rem;
  border-radius: 1rem;
  overflow-y: auto;
  max-height: 30rem;
}

.transactionRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.6rem;
  padding: 0.7rem;
  justify-content: space-between;
  gap: 1rem;
  /* width: 90%; */
  height: 1.5rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  text-align: center;
  overflow: auto;
  /* border: 2px solid rgb(0, 0, 0); */
}

.remark {
  width: 20rem;

  white-space: nowrap;
}

.transactionList {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.transactionList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
